.image-large {
    width: 150%;
}
.rounded-table {
    border: 1px solid #dee2e6;
    border-radius: 5px;
}
.center-label {
    text-align: center;
}
.input-container {
    display: flex;
    align-items: center;
}
.unit-label {
    margin-left: 5px;
}
